.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.custom-form {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #0D6AB8;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #35408E;
}

.form-group input {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.submit-btn {
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #0D6AB8;
    color: white;
    border: 1px solid #0D6AB8;
    transition: background 0.2s ease;
}

.submit-btn:hover {
    background-color: #094f8a;
}

.cancel-btn {
    text-align: center;
    border-radius: 5px;
    padding: 0.55rem 1.1rem;
    background-color: transparent;
    color: #777;
    border: 2px solid #ccc;
    transition: 0.2s ease;
}

.cancel-btn:hover {
    color: black;
    border-color: black;
}